future
emoji
lxml
beautifulsoup4
git+git://github.com/google/chatbase-python.git
requests
sqlalchemy
python-telegram-bot==12.8
psycopg2-binary
feedparser
pynewtonmath
spongemock
aiofiles
zalgo-text
geopy
nltk
psutil
psycopg2-binary
pySmartDL
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans==3.1.0a0
jikanpy
speedtest-cli
coffeehouse
regex
numpy
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
spamwatch
alphabet_detector
pyrate-limiter
cachetools
telethon==1.16.4
youtube_dl
hachoir
asyncio
gtts
bs4
tswift
pyrogram
tgcrypto
pymongo==3.11.0
dnspython
cloudmersive-ocr-api-client==3.0.1
cloudmersive_virus_api_client==3.0.1
dateparser==1.0.0
youtube_search
search_engine_parser
wget
future
youtube-search-python==1.4.0
